@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary_100: #EFEDFD;
  --primary_200: #CEC8F8;
  --primary_300: #BDB5F5;
  --primary_400: #9C90F0;
  --primary_500: #5A46E6;
  --primary_600: #2C17B5;
  --primary_700: #211287;
  --primary_800: #160C5A;
  --primary_900: #0B062D;

  --secondary_100: #EAFBF9;
  --secondary_200: #BFF2EE;
  --secondary_300: #AAEDE8;
  --secondary_400: #7FE4DC;
  --secondary_500: #2AD2C5;
  --secondary_600: #21AB9F;
  --secondary_700: #198077;
  --secondary_800: #115550;
  --secondary_900: #082B28;

  --neutral_white: #FFFFFF;
  --neutral_100: #E6E6E6;
  --neutral_200: #CCCCCC;
  --neutral_300: #B3B3B3;
  --neutral_400: #999999;
  --neutral_500: #838383;
  --neutral_600: #666666;
  --neutral_700: #4D4D4D;
  --neutral_800: #333333;
  --neutral_900: #1A1A1A;
  --neutral_dark: #000000;

  --success_100: #DADADA;
  --success_200: #1EC940;

  --warning_900: #FCFEE8;
  --warning_dark: #EFDE03;

  --error_900: #FFF0F0;
  --error_dark: #FF2828;

  --other: #FAFAFA;

  --primary_bg: #f3f5f9;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary_bg);
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: stretch;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.sidebar_height {
  height: calc(100vh - 60px) !important;
}

::-webkit-scrollbar-track {
  background-color: var(--primary_bg);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--primary_bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 100px;
}

@layer components {
  .paper {
    @apply !rounded-[12px] !border-none bg-white p-4 border border-gray-300 !shadow-none grid justify-stretch items-center gap-4;
  }

  .modal {
    @apply bg-white rounded-xl p-6 md:p-4 sm:p-2 top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] absolute grid justify-stretch items-center max-w-[90vw] max-h-[90vh] w-fit min-w-[40vw] overflow-auto gap-8
  }

  .profile_employees_paper {
    @apply !rounded-[12px] !border-none bg-white border border-gray-300 !shadow-none grid justify-stretch items-center content-between gap-4;
  }

  .counter_card {
    @apply bg-white relative rounded-xl p-4 !shadow-none grid justify-stretch items-center gap-5
  }

  .balance_card {
    @apply rounded-xl p-4 !shadow-none grid justify-stretch items-center gap-5
  }
}